/* Estilo geral */
{
margin:0;
padding: 0;
box-sizing: border-box;
}
/* Estilo geral */
body{
    font-family:'Roboto', Arial, sans-serif;
    line-height:1.6;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}
/* Container principal */
.Container{
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}
/* Cabecalhos */
h1{
    text-align: center;
    color: blue;
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2 {
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    font-size: 1.5 rem;
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    padding-bottom: 5px;
}
/*  Listas */
ul{
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding: 15px;
    background: #e8f5e9;
    border-left: 5px solid #4CAF50;
    border-radius:5px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/*Paragrafos */

img{
    width: 250px;
    height:300px;
    margin: auto;
    border-radius: 50%;
    
}
.Container{
    text-align: center;
}
.Container img{
    max-width: 100%;
    height: auto;
}

p{
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    
}
/* audio */
audio{
    display:block;
    margin: 20px auto;
    width: 100%;
}
footer{
    text-align:center;
    background: #f4f4f9;
    margin-top:20px;
    padding: 10px 0;
    border-radius: 5px;
}